html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    font: 16px/1 sans-serif;
}
h1,h2,p {
    margin: 0;
    padding: 0;
}
h1,h2 {
  font-size: inherit;
}
main {
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}

/* Custom styles */
html,body {
  background-color: #75715E;
}
main {
  padding-top: 110px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  background-color: #272822;
}
.container {
  max-width: 600px;
  margin: auto;
}
path {
  fill: none;
  stroke: #f8f8f0;
  stroke-width: 2;
}
main h2 {
  color: #F92672;
  font-family: monospace;
  padding: 2px;
}

footer {
  padding: 30px;
  background-color: #75715E;
  color: #f8f8f0;
  border-top: 10px solid #A6E22E;
}
.mdc-toolbar {
  background-color: #F92672 !important;
}